:root {
  --grey-one: #F5F5F5;
  --grey-two: #D8D8D8;
  --grey-three: #BCBCBC;
  --grey-four: #7E7E7E;
}

* {
  font-family: 'Helvetica Neue';
  color: var(--grey-four);
  margin: 0;
  padding: 0;
}

/* Nav */
nav {
  width: calc(100% - 26px);
  background-color: var(--grey-one);
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  margin-bottom: 40px;
  box-shadow: 0px -27px 36px 12px rgba(0, 0, 0, 0.75);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 15px;
}

.vertical-divider {
  height: 100%;
  width: 2px;
  background-color: var(--grey-three);
}

.user-menu-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-menu-icon i {
  font-size: 20pt;
}

/* Main */
main {
  margin-bottom: 20px;
  padding-top: 90px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.inner-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  grid-gap: 40px;
  justify-content: center;
  padding: initial;
}

.folder-box {
  height: 100px;
  width: 200px;
  background-color: var(--grey-one);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.folder-box p {
  font-size: 20pt;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
}