:root {
    --light-text: #24292F;
    --light-one: #F6F8FA;
    --light-two: #D0D7DE;
    --light-three: #BCBCBC;
    --light-four: #30363D;
    --dark-text: #F0F6FC;
    --dark-one: #30363D;
    --dark-two: #21262D;
    --dark-three: #161B22;
    --dark-four: #0D1117;
    --dark-five: #010409;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

*:not(code *) {
    color: var(--light-text);
}

body {
    height: 100vh;
    overflow: hidden;
}

/* General Elements */
a {
    color: var(--light-text) !important;
}

h2 {
    font-weight: normal;
}

.note-name,
.folder-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folder-box {
    background-color: var(--light-one);
}

.editor-area {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 11.5pt;
    resize: none;
    background-color: transparent;
}

.editor-area:focus {
    outline: none;
}

/* Nav */
nav {
    background-color: var(--light-one);
    border-bottom: 1px solid var(--light-two);
}

.nav-left,
.nav-right {
    gap: 15px;
}

.nav-left {
    width: 90%;
}

.nav-left a {
    text-decoration: none;
}

.vertical-divider {
    height: 100%;
    width: 2px;
    background-color: var(--light-text);
}

.nav-icon {
    height: 100%;
    display: inline-flex;
}

.nav-icon i {
    font-size: 20pt;
    align-self: center;
}

nav .dropdown-toggle::after {
    display: none;
}

/* Main */
.folder-box {
    height: 100px;
    width: 200px;
    border: 1px solid var(--light-two);
}

.folder-box a {
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

/* note content / rendered */
.note-content table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.note-content table,
.note-content th,
.note-content td {
    border: 1px solid var(--light-two);
}

.note-content th,
.note-content td {
    padding: 5px 10px;
}

/*.note-content p > ul*/
.note-content p + ul {
    margin-top: -11pt;
}

.note-content h1:hover,
.note-content h2:hover,
.note-content h3:hover,
.note-content h4:hover,
.note-content h5:hover,
.note-content h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Code Blocks */
pre {
    border-radius: .25rem;
    border: 1px solid var(--light-two);
    position: relative;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
}


pre::after {
    background-color: var(--light-one);
    border-left: 1px solid var(--light-two);
    border-bottom: 1px solid var(--light-two);
    content: attr(code-language);
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border-bottom-left-radius: .25rem;
}

pre code * {
    font-weight: inherit !important;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

#saveNote.unsaved {
    border-bottom: 2px solid var(--light-text);
}


/* Theme-Mode */
body[theme-mode='2'],
body[theme-mode='2'] .modal-content {
    background-color: var(--dark-four);
}

body[theme-mode='2'] * :not(pre code *) {
    color: var(--dark-text) !important;
}

body[theme-mode='2'] .modal-dialog .modal-header {
    border-bottom-color: var(--dark-one);
}

body[theme-mode='2'] .modal-dialog .modal-footer {
    border-top-color: var(--dark-one);
}

body[theme-mode='2'] nav {
    background-color: var(--dark-three);
    border-bottom-color: var(--dark-one);
}

body[theme-mode='2'] .vertical-divider {
    background-color: var(--dark-text);
}

body[theme-mode='2'] .folder-box {
    background-color: var(--dark-three);
    border-color: var(--dark-one);
}

body[theme-mode='2'] pre {
    border-color: var(--dark-one);
}

body[theme-mode='2'] pre::after {
    background-color: var(--dark-three);
    border-left: 1px solid var(--dark-one);
    border-bottom: 1px solid var(--dark-one);
}

body[theme-mode='2'] input {
    background-color: var(--dark-five);
    border-color: var(--dark-one);
}

body[theme-mode='2'] select {
    background-color: var(--dark-two);
    border-color: var(--dark-one);
}

body[theme-mode='2'] .dropdown-menu {
    background-color: var(--dark-two);
    border-color: var(--dark-one);
}

body[theme-mode='2'] .dropdown-menu input {
    background-color: var(--dark-two);
}

body[theme-mode='2'] .dropdown-menu *:hover {
    background-color: var(--dark-one);
}

body[theme-mode='2'] #saveNote.unsaved {
    border-bottom: 2px solid var(--dark-text);
}